.vscode
**/*.idea/
**/target
**/.DS_Store
**storage_db
**/*.prover.*
**/*.verifier.*
**/varuna_verifier_artifacts/
*.usrs
flamegraph.svg
!**/powers-of-beta-15.usrs*
!**/shifted-powers-of-beta-15.usrs*
!**/powers-of-beta-16.usrs*
!**/shifted-powers-of-beta-16.usrs*
!**/powers-of-beta-gamma.usrs
!**/beta-h.usrs
!**/neg-powers-of-beta.usrs
**/proptest-regressions/
artifacts

# Claude Code
**/CLAUDE.md
!.claude/CLAUDE.md
.claude/*
!.claude/CLAUDE.md
!.claude/.gitignore
!.claude/skills/
